{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": ["firefox >= 90", "chrome >= 90", "ios >= 14"]
      },
      "debug": true,
      "modules": false
    }
    ]
  ],
  "plugins": [
    ["transform-class-properties", { "spec": true }],
    "babel-plugin-remove-template-literals-whitespace"
  ],
  "comments": false,
  "env": {
    "production": {
      "plugins": [
        ["transform-remove-console", { "exclude": [ "error", "warn"] }]
      ]
    },
    "development": {
      "plugins": [
        ["transform-remove-console", { "exclude": [ "debug", "info", "error", "warn"] }]
      ]
    }
  }
}