{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": ["safari 10", "firefox > 56", "not edge > 0", "ios 10", "chrome > 60", "not ie > 0", "not op_mini all"]
      },
      "debug": true
    }]
  ]
}
