/* set these for the app's branding */
:root {
  --primary-color: #66bb6a;
  --primary-color-dark: #338a3e;
  --primary-color-light: #98ee99;
  --secondary-color: #8D6E63;
  --secondary-color-dark: #4E342E;
  --secondary-color-light: #D7CCC8;
  --background-color: #f5f5f5;
  --app-color: #efefef;
}

/* may want to increase or decrease depending on content */
dialog.about {
  width: 23rem;
  margin-left: -12.25rem;
  height: 20rem;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  @import "~presentation-css-dark";
  @import "./darkmode-local.scss";
}
