/* Main CSS for app - light mode */
:root {
  --primary-color: #66bb6a;
  --primary-color-dark: #338a3e;
  --primary-color-light: #98ee99;
  --secondary-color: #8D6E63;
  --secondary-color-dark: #4E342E;
  --secondary-color-light: #D7CCC8;
  --background-color: #f5f5f5;
  --app-color: #efefef;
  --panel-color: #efefef;
  --app-text: rgba(0,0,0,0.85);
  --border-color: rgba(0,0,0,0.85);
  --header-text: rgba(0,0,0,0.85);
  --button-color: white;
  --button-hover-color: #eeeeee;
}

/* keep chrome from highlighting on click */
:focus {
  outline: none !important;
}

body {
  color: var(--app-text);
  font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial Nue", "Arial", "sans-serif";
  height: auto;
}

article {
  height: 100vh;
  overflow: hidden;
}

img {
  &.crisp {
    image-rendering: crisp-edges;
  }
}

figure {
  &.adam {
    width: 180px;
    height: 180px;
    padding: 20px;
    margin: 2rem auto;
  }

  &.jc {
    width: 200px;
    height: 200px;
    margin: 2rem auto;
  }

  &.alex {
    width: 200px;
    height: 200px;
    margin: 2rem auto;
  }
}

progress {
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 1rem;
  z-index: 2;
  left: calc(50% - 5rem);
  width: 10rem;
}

blockquote {
  margin: 1.5rem auto;
  padding: 0.5rem 1rem;
  quotes: "\201C""\201D""\2018""\2019";
  max-width: 30rem;

  &:before {
    color: var(--primary-color);
    content: open-quote;
    font-size: 4rem;
    line-height: 0.1rem;
    margin-right: 0.25rem;
    vertical-align: -1.5rem;
  }
  > p {
    display: inline;
    font-size: 0.85rem;
    text-align: left;
  }
  > footer {
    text-align: right;
  }
}

input, select {
  font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial Nue", "Arial", "sans-serif";
}

div {
  display: block;
  position: relative;
}

label, input, textarea, code {
  background-color: transparent;
}

label {
  margin: 0.5rem 0 1.5rem 0;
  > h1, > h2 {
    margin-top: 0.5rem;
  }
}

input:focus, textarea:focus, code:focus {
  color: var(--app-text);
}

.main {
  top: 0;
  overflow: hidden;
  margin: 0;
  height: 100vh;
}

.panel {
  overflow-x: hidden;
  overflow-y: auto;
  margin: 1rem 1rem 0 1rem;
  background-color: var(--panel-color);
  height: calc(100vh - 7rem);
}

.wrapper {
  width: calc(100vw - 3rem);
}

.header {
  margin: 0;
  figure.logo {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
    background-color: black;
    text-align: center;
    color: white;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial Nue", "Arial", "sans-serif";
    text-shadow: 0 0 0.25rem white;
  }

  h1 {
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    margin-left: 2.5rem;
    line-height: 2.8rem;
    font-weight: 500;
    color: var(--header-text);
  }

  i.material-icons {
    color: var(--header-text);
  }

  .username {
    position: absolute;
    right: 3rem;
    width: calc(100vw - 19rem);
    font-size: 1rem;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    color: var(--header-text);
    top: 0.5rem;
    height: 2rem;
    line-height: 2rem;
    text-align: right;
  }
}

.progress {
  position: absolute;
  opacity: 0;
  transition: opacity 0.5s ease, height 0.25s ease;
  bottom: 0;
  left: 0;
  height: 0;

  &.inprogress {
    opacity: 0.85;
    height: 0.25rem;
  }
}

dialog{
  &.about {
    background-color: var(--panel-color);
    color: var(--app-text);
    width: 23rem;
    margin-left: -12.25rem;
    height: 20rem;
    margin-top: -10rem;

    figure {
      &.logo {
        background: url("../images/favicon.png") no-repeat center center;
        background-size: contain;
        width: 90px;
        height: 90px;
        border-radius: 50%;
        margin: 0 auto;
        image-rendering: crisp-edges;
      }
    }

    h1 {
      font-family: "Roboto", sans-serif;
      color: var(--secondary-color);
      font-weight: 500;
    }
    h2 {
      color: var(--app-text);
    }
    h3 {
      color: var(--app-text);
    }
  }
}

button {
  margin-left: 0;
  margin-right: 1rem;
  display: inline-block;
  color: var(--app-text);
  background-color: var(--button-color);

  &:hover {
    color: var(--app-text);
    background-color: var(--button-hover-color);
  }

  &.primary {
    color: var(--app-text);
  }

  &.secondary {
    color: var(--dark-text);
  }

  &.hug {
    top: -2.3rem;
    left: calc(50% - 1.25rem);
  }

  &.back {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    margin: 0;
    z-index: 1;
  }
}

code {
  width: 100%;
  height: auto;
  font-weight: 400;
  display: block;
  border-bottom: none;
}

label, input, textarea, code {
  color: var(--app-text);
  line-height: 0.8rem;
}

.input, .select, .checkbox, .input.large, .select.large {
  width: 100%;
}

.blur {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

.header .wrapper .material-design-hamburger.model .material-design-hamburger__icon {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

.menu--off {
  height: 100vh;
}

.menu div:first-child {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: var(--secondary-color-dark);
}

.panel div.select, div.select {
  width: 100%;
}

table.material {
  td {
    height: 3rem;
    overflow-x: auto;
    &.highlight {
      color: var(--primary-color);
    }
  }
  th {
    text-transform: uppercase;
    text-overflow: ellipsis;
  }

  td.number, table.material th.integer, table.material td.integer {
    text-align: left;
  }

  &.even {
    table-layout: fixed;
  }
}

.fancy {
  input, h1, h2, h3 {
    font-family: "Roboto Mono", "Ubuntu Mono", "Andale Mono", monospace;
  }
}

.large {
  h1 {
    font-size: 2rem;
    line-height: 2rem;
  }
  h2 {
    font-size: 1.25rem;
  }
  textarea {
    font-size: 0.8rem;
  }
}

h1.large {
  font-size: 2rem;
  line-height: 2rem;
}

.label.large {
    margin: 0 0 1.5rem 0 !important;
    position: relative;
    height: 4rem;
    label {
      font-size: 1rem;
      color: rgba(255, 255, 255, 0.5);
      padding: 1rem 1rem 0 1rem;
    }
}

.area {
  textarea {
    margin-top: 1rem;
    width: calc(100% - 1rem);
    font-weight: 300;
  }
}

.group {
  margin: 1rem 0 !important;
  min-height: 10rem;
  table.material {
    td.number {
      font-size: 2rem !important;
      font-family: "Roboto Mono", "Ubuntu Mono", "Andale Mono", monospace;
      text-align: left;
    }
    td input, td {
      font-size: 2rem !important;
      font-family: "Roboto Mono", "Ubuntu Mono", "Andale Mono", monospace;
    }
  }

  .tools {
    position: absolute;
    z-index: 1;
    top: 0.25rem;
    width: 2rem;
    right: 0;
    display: block;

    ul {
      left: auto;
      right: 0;
      padding: 0;
      width: 10rem;
      min-width: auto;

      li {
        width: auto;
        height: 1.25rem;
        padding: 0.5rem;
        &:hover {
          width: auto;
        }
      }
    }
  }
}

.buttonbar {
  text-align: right;
  margin: 2rem 0 1rem 0 !important;

  button {
    margin: 0 0 0 1rem;
  }
}

li {
  a {
    text-decoration: none;
  }
}
.started {
  font-weight: 300;
}

.completed {
  font-weight: 300;
  text-decoration: line-through;
}

.in-progress {
  font-weight: 400;
}

.portrait {
  figure {
    display: block;
    position: relative;
    width: 8rem;
    height: 8rem;
    margin: 1rem 0;
    img {
      display: block;
      position: relative;
      height: 100%;
    }
  }

  button.icon.embed {
    border: none;
    box-shadow: none;
    border-radius: 0;
    background: transparent none;
    color: var(--app-text);
    display: block;
    position: absolute;
    bottom: 0;
    left: 6rem;
    margin: 0.5rem;
    padding: 0;
    width: 1rem;
    min-width: 1rem;
    height: 1rem;
  }
}

.notes {
  p {
    font-family: "Roboto Mono", monospace;
    font-weight: 300;
    line-height: 0.8rem;
    font-size: 0.8rem;
  }
}

.checkbox.large {
  width: auto;
  &.tight {
    margin: 0 !important;
  }
}

.theme {
  display: flex;
  margin: 1rem auto 1rem auto !important;
  padding: 0 0 1rem 0;
  border-bottom: 1px solid var(--secondary-color-light);
  > label {
    display: flex;
    margin: 0;
  }
  &:hover {
    background-color: var(--secondary-color-light);

    input[type=radio] {
      border-width: 0.125rem;
    }
  }

  input[type=radio] {
    margin: 2.25rem 2rem 0 1rem;
    width: 1rem;
    height: 1rem;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 50%;
    border: 1px solid var(--secondary-color-dark);

    &:checked {
      border-width: 0.25rem;
      background-color: var(--secondary-color-darker);
    }
  }
  img {
    height: 6.25rem;
  }
}

.content {
  display: block;
  position: relative;
  margin: auto !important;
  width: 40rem;
}

@import "./mobile.scss";

/* Dark mode */
@media (prefers-color-scheme: dark) {
  @import "~presentation-css-dark";
  @import "./darkmode-local.scss";
}
