/* make transparent link selection, adjust last value opacity 0 to 1.0 */

body {
  font-size: 16px;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

:root {
  --primary-color: #66bb6a;
  --primary-color-dark: #338a3e;
  --primary-color-light: #98ee99;
  --secondary-color: #8D6E63;
  --secondary-color-dark: #4E342E;
  --secondary-color-light: #D7CCC8;
  --background-color: #f5f5f5;
  --app-color: #efefef;
  --light-text: rgba(255, 255, 255, 0.85);
  --dark-text: rgba(0, 0, 0, 0.85);
  --blue-500: #2196F3;
  --purple-500: #9C27B0;
  --yellow-500: #FFEB3B;
  --orange-500: #FF9800;
  --red-500: #F44336;
  --black: black;
}

.blue {
  background-color: var(--blue-500);
}

.purple {
  background-color: var(--purple-500);
}

.red {
  background-color: var(--red-500);
}

.orange {
  background-color: var(--orange-500);
}


body {
  -webkit-touch-callout: none;
  /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;
  /* prevent webkit from resizing text to fit */
  -webkit-user-select: text;
  /* prevent copy paste, to allow, change "none" to "text" */
  background-color: var(--background-color);
  font-family: "Helvetica Neue", "Roboto", Helvetica, Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

input {
  &[type=email] {
    background-color: transparent;
  }
  &[type=text] {
    width: 9.5rem;
  }
  border-bottom: 1px solid var(--secondary-color);
  color: var(--dark-text);
}

textarea, code {
  border-bottom: 1px solid var(--secondary-color);
  color: var(--dark-text);
}

button {
  font-family: "Libre Franklin", "Helvetica Neue", "Roboto", sans-serif;
  vertical-align: middle;
  transition: background-color 0.2s, color 0.2s;
}

dialog button {
  color: var(--primary-color);
  &:hover, &:active {
    color: var(--primary-color-dark);
  }
}

button {
  i.material-icons {
    font-size: 1rem;
    line-height: 1rem;
    display: inline;
    vertical-align: top;
  }
  &:hover {
    border-color: var(--secondary-color-dark);
    background-color: var(--secondary-color);
    color: var(--primary-color-dark);
  }
  &.primary {
    background-color: var(--primary-color);
  }
}

input:focus, textarea:focus, code:focus {
  border-bottom: 2px solid var(--secondary-color-dark);
  color: var(--dark-text);
}

a {
  color: var(--secondary-color);
  &:visited {
    color: var(--secondary-color-dark);
  }
}

h3 {
  font-weight: 400;
  font-size: 0.8rem;
}

.fade {
  opacity: 0;
}

.content {
  margin: auto 0.5rem;
}

/* router transitions */

.main {
  transition: opacity 0.5s ease;
}

.transition-out {
  opacity: 0;
}

/* notify */

.slide {
  transform: translateX(18.75rem);
  opacity: 0;
}

.hide {
  display: none;
  visibility: hidden;
}

dialog.about {
  width: 23rem;
  margin-left: -12.25rem;
  height: 20rem;
}
